html, body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.gradient {
    background: rgb(75,79,161);
    background: linear-gradient(90deg, rgba(75,79,161,1) 0%, rgba(242,66,40,1) 50%, rgba(239,101,60,1) 100%); 
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: white;
}

.orange-highlight {
    color: #ef653c;
}

.sangue-laranja {
    color:  #FFC300 ;
}

.feature {
    color: white;
}

.icon {

    color: white;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.gray-background {
    background: #f3f4f9;
}

.orange-background {
    background: #ef653c;
}

.white-font {
    color: white;
}

#violet-font {
    color: #4b4fa1;
    font-weight: bold;
}

#form-container a {
    color: #4b4fa1;
    transition: .5s;
}

#form-container a:hover {
    color: #ef653c;
}

#form-container .form-control:focus,
#form-container .form-select:focus {
    box-shadow: none;
}

#form-container input[type="submit"],
#form-container input[type="checkbox"]:checked {
    background-color: #4b4fa1;
    border-color: #4b4fa1;
}


.btn.btn-primary {
    width: 100%;
    margin-top: 25px;
}

.btn.btn-primary:hover {

    color: #ef653c;
}

@media(min-width: 768px) {
    .btn.btn-primary {
        width: auto;
    }
}

/* Footer */

footer {
    background-color: #303033;
    color: white;
}

#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ef653c;
}

.contact-box i {
    color: #ef653c;
    font-size: 24px;

}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #ef653c;

}


#msg-box p {
    font-size: 22px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form input[type="submit"] {
    background-color: #4b4fa1;
    border-color: #4b4fa1;
    margin-bottom: 25px;
}

/* Copy */

#copy-area {

    color: black;
    background-color: #f3f4f9;

}

#copy-area .container {

    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}


#copy-area a{
    text-decoration: none;
    font-weight: bold;
    color: #4b4fa1;
    transition: .5s;
}

#copy-area a:hover{
    color: #ef653c;

}